@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(221, 100%, 96%);
}
.main {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
}
.first-div,
.second-div {
  width: 330px;
  padding: 2rem;
  border-radius: 1.5rem;
}
.first-div {
  background-image: linear-gradient(hsl(252, 93%, 63%), hsl(241, 78%, 52%));
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: hsl(241, 100%, 89%);
}

.your-score {
  border-radius: 50%;
  background: linear-gradient(
    hsla(241, 72%, 46%, 0.678),
    hsla(252, 55%, 51%, 0.164)
  );
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  font-size: 60px;
}
.of-hundred {
  color: hsla(241, 100%, 89%, 0.527);
  font-size: 16px;
}
h3 {
  margin-top: 0.7rem;
  color: hsl(0, 0%, 100%);
  font-size: 26px;
}
.your-score-details {
  margin-top: 0.9rem;
  color: hsl(241, 100%, 89%);
  font-weight: 500;
  text-align: center;
}
.second-div {
}
.second-div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  padding: 0.9rem;
  border-radius: 0.3rem;
}
h4 {
  color: hsl(224, 30%, 27%);
  font-size: 17px;
}
img {
  vertical-align: bottom;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.09);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.09);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.09);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.09);
}
button {
  border-radius: 30px;
  padding: 0.5rem;
  background-color: rgb(46, 58, 90);
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  border: none;
  margin-top: 0.8rem;
}
.slach100 {
  color: rgba(109, 109, 109, 0.692);
}
.rule-number {
  font-weight: 700;
}
.word-of-reaction {
  color: hsla(0, 82%, 59%, 0.7);
}
.word-of-memory {
  color: hsla(39, 78%, 58%, 0.849);
}
.word-of-verbal {
  color: hsla(166, 100%, 37%, 0.7);
}
.word-of-visual {
  color: hsla(234, 85%, 45%, 0.7);
}
